body {
    background-image: url(../images/tokyo-subway.jpg);
    color: white;
    background-position: center;
    background-position: no-repeat;
    background-attachment: fixed;
    font-family: 'Rock Salt', Impact, 'Arial Narrow Bold', sans-serif;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.section-title {
    font-size: 150%;
}

.main-section-title {
    font-size: 200%;
    text-align: right;
}

.character {
    display: inline-block;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.character-name {
    text-align: center;
}

.character-health {
    text-align: center;
}